SECRET_KEY=slml0Ej&cA9Qv#d^ii@OQ@d94s#xh!
DEBUG=True
DB_ENGINE=django.db.backends.postgresql
DB_NAME=fake_db_name
DB_USER=fake_user
DB_PASSWORD=fake_password
DB_HOST=fake_host
DB_PORT=5432
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOW_CREDENTIALS=True